@font-face {
    font-family: 'Bright';
    src: url('/src/assets/fonts/Bright\ DEMO.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bright', sans-serif;
}

.loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e5e3d7;
    padding: 20px;
    box-sizing: border-box;
}

.cornerImage {
    position: absolute;
    z-index: 1;
    object-fit: contain;
}

.leftCorner {
    top: -3%;
    left: 0;
    width: 40vw;
    height: auto;
}

.rightCorner {
    top: 0;
    right: 0;
    width: 20vw;
    height: auto;
}

.logoContainer {
    margin-bottom: 40px;
    z-index: 2;
}

.logo {
    width: 25vw;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
}

.inputContainer {
    width: 90%;
    max-width: 600px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.2rem;
    background-color: #8FBC8F;
    color: white;
}

.loginButton {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    border-radius: 30px;
    background-color: #8FBC8F;
    color: white;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    text-align: center;
}

.loginButton:hover {
    background-color: #6b8e23;
}

.registerContainer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: transparent;
    position: absolute;
    bottom: 20px;
}

.registerLine {
    border-top: 2px solid #6b8e23;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.registerLink {
    font-size: 1.3rem;
    color: black;
}

.registerLink a {
    color: #006400;
    text-decoration: none;
    font-size: 1.3rem;
}

.registerLink a:hover {
    text-decoration: underline;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    .leftCorner,
    .rightCorner {
        width: 30vw;
    }

    .logo {
        width: 40vw;
    }

    .loginInput,
    .loginButton {
        padding: 12px;
        font-size: 1rem;
    }

    .registerLink {
        font-size: 1rem;
    }

    .registerLink a {
        font-size: 1rem;
    }
}

.loginInput::placeholder {
    color: white;
    opacity: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
